* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section,
header {
  width: 100%;
}

.container {
  width: 1680px;
  margin: 0 auto;
}

.header__container {
  background-image: url(../assents/backgraund__img.png);
  padding-top: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__logos {
  display: flex;
  gap: 22px;
}
.header__text {
  width: 193px;
  font-family: "20 Kopeek";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
}
.header__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
}
.header__Nbtn {
  padding: 7px 33px;
  font-family: "20 Kopeek";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 15px;
  background: transparent;
}
.header__Fbtn {
  padding-top: 12px;
  padding-right: 11px;
  padding-left: 11px;
  border: 1px solid #ffffff;
  background: transparent;
  border-radius: 50px;
}
.header__Ibtn {
  padding-top: 12px;
  padding-right: 11px;
  padding-left: 13px;
  padding-bottom: 9px;
  border: 1px solid #ffffff;
  background: transparent;
  border-radius: 50px;
}

.intro__container {
  background-image: url(../assents/backgraund__img.png);
  padding-top: 277px;
  padding-left: 260px;
}
.intro__title {
  width: 700px;
  font-family: "20 Kopeek Book";
  font-size: 55px;
  line-height: 100%;
  color: #181818;
}
.intro__text {
  padding-top: 20px;
  width: 528px;
  font-family: "20 Kopeek Book";
  font-size: 34px;
  line-height: 110%;
  color: #181818;
}
.intro__btn {
  font-family: "20 Kopeek";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 23px 47px;
  gap: 10px;
  height: 71px;
  background: #ffffff;
  border-radius: 40px;
  border: none;
}
.intro__btn1, .intro__btn2 {
  margin-top: 65px;
}
.intro__buttons {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding-bottom: 340px;
}

.jems__container {
  padding-left: 260px;
}
.jems__title {
  margin-top: 70px;
  margin-bottom: 15px;
  font-family: "20 Kopeek Book";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 110%;
  color: #181818;
}
.jems__content {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 30px;
}
.jems__texts {
  width: 445px;
}
.jems__text {
  font-family: "20 Kopeek";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
}
.jems__text2 {
  margin-top: 60px;
}

.style__title {
  margin-top: 150px;
  width: 1680px;
  font-family: "20 Kopeek Book";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 100%;
  color: #181818;
  padding-left: 260px;
  padding-right: 180px;
}
.style__block {
  display: flex;
  align-item: start;
  justify-content: center;
  gap: 90px;
}
.style__text {
  margin-top: 40px;
  font-family: "20 Kopeek Book";
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #181818;
}
.style__sub1 {
  width: 83px;
  height: 50px;
  font-family: "20 Kopeek";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
}
.style__sub2 {
  height: 100px;
  font-size: 18px;
}

.costs__title {
  margin-top: 120px;
  padding-right: 350px;
  margin-bottom: 15px;
  text-align: end;
  font-family: "20 Kopeek Book";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 110%;
  color: #181818;
}
.costs__content {
  padding-left: 260px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 82px;
}
.costs__text {
  width: 396px;
  font-family: "20 Kopeek";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
}
.costs__bgtext {
  padding: 13px 11px;
  color: white;
  background: #2b59c3;
  border-radius: 5px;
  width: 445px;
  margin-top: 50px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    margin: 0 auto;
  }
  .header__container {
    position: fixed;
    background: transparent;
    background-repeat: no-repeat;
    width: 360px;
  }
  .header__navbar {
    display: none;
  }
  .header__logo {
    padding-left: 70px;
  }
  .intro__container {
    background-image: url(../assents/phone__intro.png);
    background-repeat: no-repeat;
    width: 360px;
    padding-left: 40px;
    padding-top: 150px;
  }
  .intro__title {
    width: 240px;
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 110%;
    color: #ffffff;
  }
  .intro__text {
    width: 184px;
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    color: #ffffff;
  }
  .intro__btn1 {
    margin-top: 20px;
  }
  .intro__buttons {
    flex-wrap: wrap-reverse;
    padding-bottom: 40px;
    margin-bottom: 0;
  }
  .jems__container {
    padding-left: 60px;
    margin: 0 auto;
  }
  .jems__title {
    width: 290px;
    font-family: "20 Kopeek Book";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #181818;
  }
  .jems__text2 {
    margin-top: 20px;
  }
  .jems__content {
    display: block;
  }
  .jems__img {
    width: 290px;
  }
  .jems__text {
    width: 290px;
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #181818;
  }
}
.brends__container {
  margin-top: 150px;
  margin-left: 450px;
}
.brends__img {
  margin-bottom: 38px;
}
.brends__titles {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 89px;
}
.brends__title {
  font-family: "20 Kopeek Book";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 100%;
  color: #181818;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.brends__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 23px 47px;
  gap: 10px;
  border: 1px solid #181818;
  border-radius: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: "20 Kopeek";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 23px 47px;
}
.brends__text {
  width: 222px;
  font-family: "20 Kopeek";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
}
.brends__box {
  margin-bottom: 53px;
}
.brends__btn {
  margin-left: 450px;
  border: none;
  padding: 23px 47px;
  font-family: "20 Kopeek Book";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 110%;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 23px 47px;
  gap: 10px;
  background: #2b59c3;
  border-radius: 40px;
}/*# sourceMappingURL=style.css.map */