.email {
    &__container {
        margin-top: 77px;
        padding-left: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 103px;
    }

    &__title {
        font-family: "20 Kopeek Book";
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 110%;
        color: #181818;
    }

    &__info {
        margin-bottom: 21px;
    }

    &__input {
        font-family: "20 Kopeek";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #868686;
    }

    &__place1 {
        margin-top: 30px;
        padding: 23px 237px 23px 29px;
        border-radius: 10px;
        border: 1px solid #868686;
    }

    &__place2 {
        margin-top: 25px;
        margin-bottom: 40px;
        padding: 23px 237px 23px 29px;
        border-radius: 10px;
        border: 1px solid #868686;
    }

    &__btn {
        font-family: "20 Kopeek";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #ffffff;
        flex: none;
        order: 0;
        flex-grow: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 23px 47px;
        gap: 10px;
        background: #2b59c3;
        border-radius: 40px;
        border: none;
    }

    &__check1 {
        font-family: "20 Kopeek";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #181818;
        margin-left: 7px;
    }

    &__check {
        color: #2b59c3;
    }

    &__text {
        font-family: "20 Kopeek Book";
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 110%;
        color: #181818;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .email {
        display: none;
    }
}