.intro {
  &__container {
    background-image: url(../assents/backgraund__img.png);
    padding-top: 277px;
    padding-left: 260px;
  }

  &__title {
    width: 700px;
    font-family: "20 Kopeek Book";
    font-size: 55px;
    line-height: 100%;
    color: #181818;
  }

  &__text {
    padding-top: 20px;
    width: 528px;
    font-family: "20 Kopeek Book";
    font-size: 34px;
    line-height: 110%;
    color: #181818;
  }

  &__btn {
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    flex: none;
    order: 0;
    flex-grow: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 23px 47px;
    gap: 10px;
    height: 71px;
    background: #ffffff;
    border-radius: 40px;
    border: none;
  }

  &__btn1 ,
  &__btn2 {
    margin-top: 65px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding-bottom: 340px;
  }
}
