@media (min-width: 320px) and (max-width: 480px) {
  .header {
    margin: 0 auto;
    &__container {
      position: fixed;
      background: transparent;
      background-repeat: no-repeat;
      width: 360px;
    }

    &__navbar {
      display: none;
    }

    &__logo {
      padding-left: 70px;
    }
  }

  .intro {
    &__container {
      background-image: url(../assents/phone__intro.png);
      background-repeat: no-repeat;
      width: 360px;
      padding-left: 40px;
      padding-top: 150px;
    }

    &__title {
      width: 240px;
      font-family: "20 Kopeek";
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 110%;
      color: #ffffff;
    }

    &__text {
      width: 184px;
      font-family: "20 Kopeek";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 110%;
      color: #ffffff;
    }

    &__btn1 {
      margin-top: 20px;
    }

    &__buttons {
      flex-wrap: wrap-reverse;
      padding-bottom: 40px;
      margin-bottom: 0;
    }
  }

  .jems {
    &__container {
      padding-left: 60px;
      margin: 0 auto;
    }

    &__title {
      width: 290px;
      font-family: "20 Kopeek Book";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 110%;
      color: #181818;
    }

    &__text2 {
      margin-top: 20px;
    }

    &__content {
      display: block;
    }

    &__img {
      width: 290px;
    }

    &__text {
      width: 290px;
      font-family: "20 Kopeek";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 140%;
      color: #181818;
    }
  }

  .style {
    &__title {
      width: 350px;
      font-family: "20 Kopeek Book";
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 100%;
      color: #181818;
      padding-left: 60px;
      padding-right: 0px;
    }

    &__block {
      display: block;
      padding-left: 60px;
    }
  }

  .costs {
    &__title {
      width: 350px;
      font-family: "20 Kopeek Book";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 110%;
      color: #181818;
      padding-left: 60px;
      padding-right: 0;
      text-align: start;
    }

    &__content {
      flex-direction: column-reverse;
      padding-left: 60px;
      align-items: start;
    }

    &__img {
      width: 289px;
    }

    &__box {
      width: 292px;
    }

    &__text {
      width: 292px;
    }

    &__bgtext {
      width: 292px;
    }
  }

  .footer__text {
    padding-left: 60px;
  }
}
