.suprise {
    &__title {
        padding-left: 200px;
        font-family: "20 Kopeek Book";
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 110%;
        color: #181818;
        margin-bottom: 15px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    &__text1 {
        font-family: "20 Kopeek Book";
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 100%;
        color: #ffffff;
        background: #2b59c3;
        border-radius: 5px;
        padding: 11px 39px 18px 14px;
        margin-bottom: 15px;
    }

    &__text {
        font-family: "20 Kopeek";
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 100%;  
        border-radius: 5px;
        padding: 0 39px 0 14px;
        color: #181818;
    }
}
